/* CSS Document */


body {
	background-color: #C9D3DA;
}
.STYLECopyright {
	font-size: 12px
}
.STYLEMenu{
	font-family: "������";
	font-size: 14px;
	font-weight: bold;
}
.STYLEListTitle {
	font-size: 12px;
	font-family: "����";
	bgcolor:"#99CC99";
}
.STYLEListContent {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
}
#table0 {
	width:1024px; 
	align:expression(this.align = "center" );
}
#table1 {
	align:expression(this.align = "center" );
	border:1;
	style:"BORDER-COLLAPSE: collapse";
}
.STYLEerror{
	font-color: red;
}